body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

hr {
  width: 5%;
  border: dotted #EAF6F6;
  border-width: 0.4375rem 0 0 0 ;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}


.topcontainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.profile {
  width: 50%;
  margin:100px auto 100px auto;

}

.bottom-container {
  color: #11999E;
  background-color: #66BFBF;
  border-top: 100px;
  margin-top: 50px;
  padding-top:30px;
  padding-bottom: 30px;
  line-height: 3;
  letter-spacing: 2;
}

.skill-row {
  width: 50%;
 margin: 100px auto 100px auto;
 text-align: left;
 line-height: 2;
}

.profile-img {
  width: 30%;
}

.design-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}


.pasta-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.normal {
  font-weight: normal;
}

.contact-me {
  width: 50%;
  margin:70px auto 70px auto;
  line-height: 2;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.foot {
  color: #EAF6F6;
  font-size: 0.75rem;
}


a:hover {
  color: #EAF6F6;
}

.BUTTON_RFF {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 15px;
   line-height: 15px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 155px;
   font-size: 20px;
   font-weight: 300;
   padding: 20px;
   background-color: #66BFBF;
   text-shadow: 1px 1px 20px #000000;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 50px;
}

.BUTTON_RFF:hover {
   border: solid #66BFBF 1px;
   background: #93F3F3;
   background-image: -webkit-linear-gradient(top, #93F3F3, #43D9D9);
   background-image: -moz-linear-gradient(top, #93F3F3, #43D9D9);
   background-image: -ms-linear-gradient(top, #93F3F3, #43D9D9);
   background-image: -o-linear-gradient(top, #93F3F3, #43D9D9);
   background-image: -webkit-gradient(to bottom, #93F3F3, #43D9D9);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
